<% page_title "Revisions for &ldquo;#{link_to @page.title, page_path(@page)}&rdquo;" %>
<div id="page_meta">&nbsp;</div>

Boldness indicates current revision.

Probably will want to do something better than this ugly table. One day.

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Of</th>
      <th>Message</th>
      <th>By</th>
    </tr>
  </thead>
  
  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td>
          <% link = revision_link(@page, revision) %>
          <% if revision.current? %>
            <% content_tag("strong") do %>
              <%= link %>
            <% end %>
          <% else %>
            <%= link %>
          <% end %>
        </td>
        <td><%= revision_link(@page, revision.try(:parent)) %></td>
        <td><%= revision.message %></td>
        <td><%= revision_author_stamp(revision) %></td>
      </tr>
    <% end %>
  </tbody>
</table>